src/main/resources/probing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://it/pagopa/interop/probing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Probing" targetNamespace="http://it/pagopa/interop/probing">
<wsdl:types>
	<xsd:schema targetNamespace="http://it/pagopa/interop/probing" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="request">
				<xsd:complexType>
					<xsd:sequence/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="status">
							<xsd:annotation>
								<xsd:documentation>Http Status</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9]{1,3}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="description">
							<xsd:annotation>
								<xsd:documentation>Error status description</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="[0-9A-Z]{1,200}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="probingRequest">
		<wsdl:part element="tns:request" name="request" />
	</wsdl:message>
	<wsdl:message name="probingResponse">
		<wsdl:part element="tns:response" name="response"/>
	</wsdl:message>
	<wsdl:portType name="ProbingService">
		<wsdl:operation name="probing">
			<wsdl:input message="tns:probingRequest" />
			<wsdl:output message="tns:probingResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProbingService" type="tns:ProbingService">
		<soap:binding style="document"	transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="probing">
			<soap:operation soapAction="probing"/>
				<wsdl:input>
					<soap:body use="literal" />
				</wsdl:input>
				<wsdl:output message="probingResponse" name="probingResponse">
					<soap:body use="literal" />
				</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProbingClient">
		<wsdl:port binding="tns:ProbingService" name="ProbingService">
			<soap:address location="http://localhost:9080/Probing" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>