docs/xsd/probing_v1.xsd


<xsd:schema
	targetNamespace="http://it/pagopa/interop/probing/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="probingRequest">
		<xsd:complexType>
			<xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="probingResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="status" type="xsd:string" minOccurs="1"/>
				<xsd:element name="description" type="xsd:string" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>